/* Track */

/* width */
::-webkit-scrollbar 
{
	width: 10px;
	color: black;
}

/* Scrollbar */
::-webkit-scrollbar-track 
{
	/* box-shadow: inset 0 0 5px black;  */
	background: gray;
	border-radius: 10px;
}
  
/* Handle */
::-webkit-scrollbar-thumb 
{
	background: red; 
	border-radius: 10px;
}

/* Handle on hover */	
::-webkit-scrollbar-thumb:hover 
{
	background: lightgreen; 
}

/* Start of CSS Code */
*
{
	margin: 0;
	padding: 0;
}

header
{
	background: url(picture2.jpg); 
	height: 200px;
	background-attachment: fixed;
	width: 100%;
	position: fixed;
	top: 0;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
} 

.main-nav li 
{
	display: inline-block;
	margin-top: 55px;
}

.main-nav li a
{
	color: gold;
	text-decoration: none;
	padding: 20px 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 30px;
}

.main-nav li a:hover
{
	border: 1px solid gray;
	background-color: darkgray ;
	border-radius: 25pt;
	color: red;
}

.topleft li
{
	display: inline-block;
	margin-top: 55px;
}

.topleft li a
{
	color: gold;
	text-decoration: none;
	padding: 20px 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 50px;
}

.topleft li a:hover
{
	border: 1px solid gray;
	background-color: darkgray ;
	border-radius: 25pt;
	color: red;
}

/* .logo
{
	height: 200px;
	width: 200px;
	float: left;
} */

html
{
	height: 2000px;
	background: url(picture2.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

.caption
{
	margin-top: 220px;
	text-transform: uppercase;
	font-size: 35px;
	text-align: center;
	margin-top: 27vh;
	color: lightgray;
}    